.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 300;


  .shopping-icon {
    width: 24px;
    height: 24px;
    font-weight: 300;

  }

  .item-count {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    bottom: 13px;
    
  }
}
